<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fund.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @fund.code %>
</p>

<p>
  <strong>Xero key:</strong>
  <%= @fund.xero_key %>
</p>

<p>
  <strong>Xero secret:</strong>
  <%= @fund.xero_secret %>
</p>

<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
